:root{
  --primary:#A85CF9;
  --secondary:#FF85B3;
  --accent:#4700D8;
  --dark-primary:#5534A5;
  --light-gray:#999999;
  --dark-gray:#333333;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
.icon{
  color: var(--primary);
  font-size: 1.5rem;
}
.page-title{
  padding: 10px 20px;
}